# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# SSL Certificates
backend/server.cert
backend/server.key

# Node / Dependencies
node_modules/
dist/
build/
