# Server Configuration
PORT=3000
USE_HTTPS=true
BACKEND_URL=https://10.68.160.126:3000
FRONTEND_URL=https://10.68.160.126:5173

# Database
MONGO_URI=mongodb://localhost:27017/healthvision

# Authentication
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=1d

# SMTP Configuration (Example: Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
FROM_EMAIL=your_email@gmail.com
FROM_NAME=HealthVision

# ML API Configuration
ML_API_URL=http://10.68.160.126:5000

# Payment Gateway (Razorpay)
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

#IMAGEKIT
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=your_imagekit_endpoint

# Cloudinary Configuration
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

